body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #04B404;
}

.quem-somos{
    background-color: #0080FF;
    color: white
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #FE9A2E;
}

.bg-footer {
    background-color: black;
    color: white;
}